body{
    background: url("greybackground.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: BebasNeue;
    src: url("BebasNeue.otf");
    src: url("BEBAS___.TTF");
}

#pics{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title{
    position: absolute;
    color: white;
    display:block;
    top: 5%;
    bottom: 85%;
    width: 100%;
    text-align: center;
    font-family: BebasNeue;
    font-size: 7em;
}

.callPoliceTemplate{
    position:absolute;
    text-align: center;
    width:100%;
    top:40%;
    font-family: BebasNeue;
    font-size: 4em;
    color: red;
}

.checkSecurityTemplate{
    position:absolute;
    text-align: center;
    width:100%;
    top:40%;
    font-family: BebasNeue;
    font-size: 3em;
    color: #ff4c4c;
}

.allGoodTemplate{
    position:absolute;
    text-align: center;
    width:100%;
    top:40%;
    font-family: BebasNeue;
    font-size: 3em;
}